<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Med-Pro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="It's a real-world-like project, built with business specifications based on an app to book a doctor's appointment. REST API that manages database resources." />
    <meta property="og:image" content="https://raw.githubusercontent.com/mcervantes71/Med-Pro/feature/build/docs/Screenshot.png" />
    <meta property="og:url" content="https://med-pro-project.herokuapp.com/" />
    <title>Med-Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
